.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
}

.lobe {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100% 100% 0 0;
  background: tomato;
}

.point-left, .point-right {
  display: block;
  /* background: tomato; */
  width: 200px;
  height: 300px;
}

.point-left {
  background: linear-gradient(to top right, #282c34 50%, tomato 50%);
}

.point-right {
  background: linear-gradient(to top left, #282c34 50%, tomato 50%);
}
